<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </head>
    <body>
        <form th:action="@{/user/next}" method="post">
            <p>
                <select size="3" Long name="rule_id">
                    <option disabled>Выберете словарь</option>
                    <tr th:each="translater_rule : ${translater_rules}">
                        <option th:value="${translater_rule.rules_id}" th:text="${translater_rule.translater_title}"/>
                    </tr>
                </select>
            </p>
            <button type="submit">next</button>
        </form>
        <form th:action="@{/user/back}" method="post">
            <button type="submit">back</button>
        </form>
        <form th:action="@{/user/createNewRule}" method="post">
            <button type="submit">create new translator</button>
        </form>
    </body>
</html>