<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
    <form th:action="@{/backToTranslate}" method="post">
        <button type="submit">back</button>
    </form>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Слово - перевод</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="word : ${words}">
            <td th:text="${word}"/>
        </tr>
        </tbody>
    </table>
</body>
</html>